Problem 1

In [ ]:
class Patient:
  def __init__(self,name,age,weight,height):
    self.name = name
    self.age = age
    self.weight = weight
    self.height = height

  def printDetails(self):
    print(f'Name: {self.name}\nAge: {self.age}\nWeight: {self.weight} kg\nHeight:{self.height} cm\nBMI: {self.weight/(self.height/100)**2}')


p1 = Patient("A", 55, 63.0, 158.0)
p1.printDetails()
print("====================")
p2 = Patient("B", 53, 61.0, 149.0)
p2.printDetails()

Name: A
Age: 55
Weight: 63.0 kg
Height:158.0 cm
BMI: 25.236340330075304
====================
Name: B
Age: 53
Weight: 61.0 kg
Height:149.0 cm
BMI: 27.476239809017613

Problem 2

In [ ]:
class Shape:
  def __init__(self,name,height,base):
    self.name = name
    self.height = height
    self.base = base
    
  def area(self):
    if self.name == "Triangle":
      print(f'Area: {1/2*self.height*self.base}')
    if self.name == "Square":
      print(f'Area: {self.height*self.base}')
    if self.name == "Rhombus":
      print(f'Area: {1/2*self.height*self.base}')
    if self.name == "Rectangle":
      print(f'Area: {self.height*self.base}')
    else:
      print("Area: Shape unknown")  

triangle = Shape("Triangle",10,25)
triangle.area()
print("==========================")
square = Shape("Square",10,10)
square.area()
print("==========================")
rhombus = Shape("Rhombus",18,25)
rhombus.area()
print("==========================")
rectangle = Shape("Rectangle",15,30)
rectangle.area()
print("==========================")
trapezium = Shape("Trapezium",15,30)
trapezium.area()

Area: 125.0
Area: Shape unknown
==========================
Area: 100
Area: Shape unknown
==========================
Area: 225.0
Area: Shape unknown
==========================
Area: 450
==========================
Area: Shape unknown

Problem 3

In [ ]:
class Calculator:
  def __init__(self):
    print("Calculator is ready!")
  
  def calculate(self,num1,num2,op):
    self.num1 = num1
    self.num2 = num2
    self.op = op

    if self.op == "+":
      val = self.num1 + self.num2
    if self.op == "-":
      val = self.num1 - self.num2
    if self.op == "*":
      val = self.num1*self.num2
    if self.op == "/":
      val = self.num1/self.num2
    self.result = val
    return val

  def showCalculation(self):
    print(f'{self.num1}{self.op}{self.num2} = {self.result}')


    
c1 = Calculator()
print("==================")
val = c1.calculate(10, 20, '+')
print("Returned value:", val)
c1.showCalculation()
print("==================")
val = c1.calculate(val, 10, '-')
print("Returned value:", val)
c1.showCalculation()
print("==================")
val = c1.calculate(val, 5, '*')
print("Returned value:", val)
c1.showCalculation()
print("==================")
val = c1.calculate(val, 16, '/')
print("Returned value:", val)
c1.showCalculation()

Calculator is ready!
==================
Returned value: 30
10+20 = 30
==================
Returned value: 20
30-10 = 20
==================
Returned value: 100
20*5 = 100
==================
Returned value: 6.25
100/16 = 6.25

Problem 4

In [ ]:
class Programmer:
  def __init__(self,name,lan,exp):
    print('Horray! A new programmer is born')
    self.name =name
    self.lan = lan
    self.exp = exp
  def printDetails(self):
    print(f'Name: {self.name}\nLanguage: {self.lan}\nExperience: {self.exp}')
  
  def addExp(self,exp):
    self.exp += 5
    print(f"Updating Experience of {self.name}")


p1 = Programmer("Ethen Hunt", "Java", 10)
p1.printDetails()
print('--------------------------')
p2 = Programmer("James Bond", "C++", 7)
p2.printDetails()
print('--------------------------')
p3 = Programmer("Jon Snow", "Python", 4)
p3.printDetails()
p3.addExp(5)
p3.printDetails()

Horray! A new programmer is born
Name: Ethen Hunt
Language: Java
Experience: 10
--------------------------
Horray! A new programmer is born
Name: James Bond
Language: C++
Experience: 7
--------------------------
Horray! A new programmer is born
Name: Jon Snow
Language: Python
Experience: 4
Updating Experience of Jon Snow
Name: Jon Snow
Language: Python
Experience: 9

Problem 5

In [ ]:
class UberEats:
  def __init__(self,name,phone,place):
    self.name = name
    self.phone = phone 
    self.place = place
    print(f"{self.name}, welcome to UberEats!")

  def add_items(self,item_1,item_2,price1,price2):
    self.item_1= item_1
    self.item_2= item_2
    self.price1 = price1
    self.price2 = price2

    self.dict_1 = {self.item_1:self.price1,self.item_2:self.price2}
  
  def print_order_detail(self):
    print(f'User details: Name: {self.name},Phone: {self.phone}, Address: {self.place}\nOrders: {self.dict_1}')
    return(f'Total Paid Amount: {self.price1+self.price2}')

order1 = UberEats("Shakib", "01719658xxx", "Mohakhali")
print("=========================")
order1.add_items("Burger", "Coca Cola", 220, 50) #method1
print("=========================")
print(order1.print_order_detail())  #method2
print("=========================")
order2 = UberEats ("Siam", "01719659xxx", "Uttara")
print("=========================")
order2.add_items("Pineapple", "Dairy Milk", 80, 70)
print("=========================")
print(order2.print_order_detail())

Shakib, welcome to UberEats!
=========================
=========================
User details: Name: Shakib,Phone: 01719658xxx, Address: Mohakhali
Orders: {'Burger': 220, 'Coca Cola': 50}
Total Paid Amount: 270
=========================
Siam, welcome to UberEats!
=========================
=========================
User details: Name: Siam,Phone: 01719659xxx, Address: Uttara
Orders: {'Pineapple': 80, 'Dairy Milk': 70}
Total Paid Amount: 150

Problem 6

In [ ]:
class Customer:
  def __init__(self,name):
    self.name= name
  def greet(self,name1= None):
    self.name1 = name1
    if self.name1 == None:
      print("Hello!")
    else:
      print(f"Hello! {self.name1}")

  def purchase(self,*items):
    
    print(f'{self.name}, you purchased {len(items)} item(s)')
    for i in items:
      print(i)

customer_1 = Customer("Sam")
customer_1.greet()
customer_1.purchase("chips", "chocolate", "orange juice")
print("-----------------------------")
customer_2 = Customer("David")
customer_2.greet("David")
customer_2.purchase("orange juice")

Hello!
Sam, you purchased 3 item(s)
chips
chocolate
orange juice
-----------------------------
Hello! David
David, you purchased 1 item(s)
orange juice

Problem 7

In [ ]:
class Cat:
  def __init__(self,color="White",position="sitting"):
    self.color = color
    self.position = position
  def printCat(self):
    print(f"{self.color} is {self.position}")
  def changeColor(self,color2):
    self.color = color2


c1 = Cat()
c2 = Cat("Black")
c3 = Cat("Brown", "jumping")
c4 = Cat("Red", "purring")
c1.printCat()
c2.printCat()
c3.printCat()
c4.printCat()
c1.changeColor("Blue")
c3.changeColor("Purple")
c1.printCat()
c3.printCat()

White is sitting
Black is sitting
Brown is jumping
Red is purring
Blue is sitting
Purple is jumping

Problem 8

In [ ]:
class Student:
  def __init__(self,name,id,dept="CSE"):
    self.name = name
    self.id = id
    self.dept = dept

  def dailyEffort(self,hours):
    self.effort= hours
    
  
  def printDetails(self):
    print(f'Name: {self.name}\nID: {self.id}\nDepartment: {self.dept}\nDaily Effort: {self.effort} hour(s)')
    if self.effort>=0 and self.effort <=2 :
      print('Suggestion: Should give more effort!')
    if self.effort >=3 and self.effort <=4:
      print('Suggestion: Keep up the good work!')
    if self.effort > 5:
      print('Suggestion: Excellent! Now motivate others.')



harry = Student('Harry Potter', 123)
harry.dailyEffort(3)
harry.printDetails()
print('========================')
john = Student("John Wick", 456, "BBA")
john.dailyEffort(2)
john.printDetails()
print('========================')
naruto = Student("Naruto Uzumaki", 777, "Ninja")
naruto.dailyEffort(6)
naruto.printDetails()

Name: Harry Potter
ID: 123
Department: CSE
Daily Effort: 3 hour(s)
Suggestion: Keep up the good work!
========================
Name: John Wick
ID: 456
Department: BBA
Daily Effort: 2 hour(s)
Suggestion: Should give more effort!
========================
Name: Naruto Uzumaki
ID: 777
Department: Ninja
Daily Effort: 6 hour(s)
Suggestion: Excellent! Now motivate others.

Problem 9

In [ ]:
class Batsman:
  def __init__(self,*args):
    if len(args)== 1:
      self.name = args[0]
    if len(args)==2:
      self.name = "New Batsman"
      self.runs = args[0]
      self.balls = args[1]
    if len(args) == 3:
      self.name = args[0]
      self.runs = args[1]
      self.balls = args[2]

  def printCareerStatistics(self):
    print(f'Name: {self.name}\nRuns Scored: {self.runs} , Balls Faced: {self.balls}')
  def battingStrikeRate(self):
    return self.runs/self.balls*100
  def setName(self,name1):
    self.name =name1
b1 = Batsman(6101, 7380)
b1.printCareerStatistics()
print("============================")
b2 = Batsman("Liton Das", 678, 773)
b2.printCareerStatistics()
print("----------------------------")
print(b2.battingStrikeRate())
print("============================")
b1.setName("Shakib Al Hasan")
b1.printCareerStatistics()
print("----------------------------")
print(b1.battingStrikeRate())

Name: New Batsman
Runs Scored: 6101 , Balls Faced: 7380
============================
Name: Liton Das
Runs Scored: 678 , Balls Faced: 773
----------------------------
87.71021992238033
============================
Name: Shakib Al Hasan
Runs Scored: 6101 , Balls Faced: 7380
----------------------------
82.66937669376694

Problem 10

In [ ]:
class Author :
  def __init__(self,name= "Default",*args):
    self.name = name
    self.books = list(args)
  def addBooks(self,*args):
    self.books.extend(args)

  def printDetails(self):
    books= '\n'.join(self.books)
    print(f'Author Name: {self.name}\n-----\nList of books:\n{books}')

  def changeName(self,name2):
    self.name = name2
auth1 = Author('Humayun Ahmed')
auth1.addBooks('Deyal', 'Megher Opor Bari')
auth1.printDetails()
print("===================")
auth2 = Author()
print(auth2.name)
auth2.changeName('Mario Puzo')
auth2.addBooks('The Godfather', 'Omerta', 'The Sicilian')
print("===================")
auth2.printDetails()
print("===================")
auth3 = Author('Paolo Coelho', 'The Alchemist', 'The Fifth Mountain')
auth3.printDetails()

Author Name: Humayun Ahmed
-----
List of books:
Deyal
Megher Opor Bari
===================
Default
===================
Author Name: Mario Puzo
-----
List of books:
The Godfather
Omerta
The Sicilian
===================
Author Name: Paolo Coelho
-----
List of books:
The Alchemist
The Fifth Mountain

Problem 11

In [14]:
class TaxiLagbe:
    def __init__(self,num,area):
        self.taxi_num=num
        self.area=area
        self.passenger_list=[]
        self.fare=0
    def addPassenger(self,*args):
        for i in args:
            if len(self.passenger_list)<=3:
                name,fare=i.split('_')
                self.passenger_list.append(name)
                self.fare+=int(fare)
                print(f'Dear {name}! Welcome to TaxiLagbe.')
            else:
                print('Taxi Full! No more passengers can be added.')
    def printDetails(self):
        print(f'Trip info for Taxi number: {self.taxi_num}\nThis taxi can cover only {self.area} area.\nTotal passengers: {len(self.passenger_list)}\nPassenger lists:\n{", ".join(self.passenger_list)}\nTotal collected fare: {self.fare} Taka')

taxi1 = TaxiLagbe('1010-01', 'Dhaka')
print('-------------------------------')
taxi1.addPassenger('Walker_100', 'Wood_200')
taxi1.addPassenger('Matt_100')
taxi1.addPassenger('Wilson_105')
print('-------------------------------')
taxi1.printDetails()
print('-------------------------------')
taxi1.addPassenger('Karen_200')
print('-------------------------------')
taxi1.printDetails()
print('-------------------------------')
taxi2 = TaxiLagbe('1010-02', 'Khulna')
taxi2.addPassenger('Ronald_115')
taxi2.addPassenger('Parker_215')
print('-------------------------------')
taxi2.printDetails()

-------------------------------
Dear Walker! Welcome to TaxiLagbe.
Dear Wood! Welcome to TaxiLagbe.
Dear Matt! Welcome to TaxiLagbe.
Dear Wilson! Welcome to TaxiLagbe.
-------------------------------
Trip info for Taxi number: 1010-01
This taxi can cover only Dhaka area.
Total passengers: 4
Passenger lists:
Walker, Wood, Matt, Wilson
Total collected fare: 505 Taka
-------------------------------
Taxi Full! No more passengers can be added.
-------------------------------
Trip info for Taxi number: 1010-01
This taxi can cover only Dhaka area.
Total passengers: 4
Passenger lists:
Walker, Wood, Matt, Wilson
Total collected fare: 505 Taka
-------------------------------
Dear Ronald! Welcome to TaxiLagbe.
Dear Parker! Welcome to TaxiLagbe.
-------------------------------
Trip info for Taxi number: 1010-02
This taxi can cover only Khulna area.
Total passengers: 2
Passenger lists:
Ronald, Parker
Total collected fare: 330 Taka

Problem 12

In [ ]:
class Account:
  def __init__(self,name='Default Account',balance=0.0):
    self.name =name
    self.balance = float(balance)
  def withdraw(self,val1):
    self.val1 = val1
    val2 = (self.balance- self.val1)
    if val2 <=0 :
      print("Sorry, Withdraw unsuccessful! The account balance after deducting withdraw amount is equal to or less than minimum.")
    else:
      print(f'Withdraw successful! New balance is: \n{val2}')
      #return val2
  def details(self):
    return(f'{self.name}\n{self.balance}')

a1 = Account()
print(a1.details())
print("------------------------")
a1.name = "Oliver"
a1.balance = 10000.0
print(a1.details())
print("------------------------")
a2 = Account("Liam")
print(a2.details())
print("------------------------")
a3 = Account("Noah",400)
print(a3.details())
print("------------------------")
a1.withdraw(6930)
print("------------------------")
a2.withdraw(600)
print("------------------------")
a1.withdraw(6929)

Default Account
0.0
------------------------
Oliver
10000.0
------------------------
Liam
0.0
------------------------
Noah
400.0
------------------------
Withdraw successful! New balance is:
3070.0
------------------------
Sorry, Withdraw unsuccessful! The account balance after deducting withdraw amount is equal to or less than minimum.
------------------------
Withdraw successful! New balance is:
3071.0

Problem 13

In [15]:
class StudentDatabase:
    def __init__(self,name,id):
        self.name=name
        self.id=id
        self.grades={}
    def calculateGPA(self,course_lst,semester):
        total_grade=0
        course_list=[]
        for i in course_lst:
            course,grade=i.split(': ')
            course_list.append(course)
            total_grade+=float(grade)
        gpa= round(total_grade/len(course_lst),2)
        key=tuple(course_list)
        a_dict= dict({key:gpa})
        self.grades.update({semester:a_dict})
    def printDetails(self):
        print(f'Name: {self.name}\nID: {self.id}')
        for k1,v1 in self.grades.items():
            print(f'Courses taken in {k1}:')
            for k2,v2 in v1.items():
                temp=k2
                for i in k2:
                    print(i)
                print('GPA:',v2)

        
s1 = StudentDatabase('Pietro', '10101222')
s1.calculateGPA(['CSE230: 4.0', 'CSE220: 4.0', 'MAT110: 4.0'], 'Summer2020')
s1.calculateGPA(['CSE250: 3.7', 'CSE330: 4.0'], 'Summer2021')
print(f'Grades for {s1.name}\n{s1.grades}')
print('------------------------------------------------------')
s1.printDetails()
s2 = StudentDatabase('Wanda', '10103332')
s2.calculateGPA(['CSE111: 3.7', 'CSE260: 3.7', 'ENG101: 4.0'], 'Summer2022')
print('------------------------------------------------------')
print(f'Grades for {s2.name}\n{s2.grades}')
print('------------------------------------------------------')
s2.printDetails()

Grades for Pietro
{'Summer2020': {('CSE230', 'CSE220', 'MAT110'): 4.0}, 'Summer2021': {('CSE250', 'CSE330'): 3.85}}
------------------------------------------------------
Name: Pietro
ID: 10101222
Courses taken in Summer2020:
CSE230
CSE220
MAT110
GPA: 4.0
Courses taken in Summer2021:
CSE250
CSE330
GPA: 3.85
------------------------------------------------------
Grades for Wanda
{'Summer2022': {('CSE111', 'CSE260', 'ENG101'): 3.8}}
------------------------------------------------------
Name: Wanda
ID: 10103332
Courses taken in Summer2022:
CSE111
CSE260
ENG101
GPA: 3.8

# **UNGRADED**

In [ ]:
class Student:
  def __init__(self,name= None,dept= None):
    self.name = name
    self.dept = dept

    if self.name == None and self.dept == None:
      print("Student name and department need to be set")
    if self.name!= None and self.dept== None:
      print(f'Department for {self.name} need to be set')
    if self.name!= None and self.dept!= None:
      print(f'{self.name} is from {self.dept}')
    else:
      pass
  def update_name(self,name1):
    self.name = name1
  def update_department(self,dept1):
    self.dept = dept1
  def enroll(self,*args):
    self.course = list(args)
  def printDetail(self):
    course= "\n".join(self.course)
    print(f'Name: {self.name}\nDepartment: {self.dept}\n{self.name} enrolled {len(self.course)} course(s)\n{course}')
  

s1 = Student()
print("=========================")
s2 = Student("Carol")
print("=========================")
s3 = Student("Jon", "EEE")
print("=========================")
s1.update_name("Bob")
s1.update_department("CSE")
s2.update_department("BBA")
s1.enroll("CSE110", "MAT110", "ENG091")
s2.enroll("BUS101")
s3.enroll("MAT110", "PHY111")
print("###########################")
s1.printDetail()
print("=========================")
s2.printDetail()
print("=========================")
s3.printDetail()

In [ ]:
class Student:
  def __init__(self,name,id,dept):
    self.name = name
    self.id = id 
    self.dept = dept
  
  def details(self):
    return(f'Name: {self.name}\nID: {self.id}\nDepartment: {self.dept}')
    

  def advise(self,*args):
    self.course = list(args)
    self.credit = float(len(self.course*3))
    courses= '\n'.join(self.course)

    print(f'{self.name}, you have taken {self.credit} credis.\nList of courses:\n{courses}')
    
    if len(self.course)==3:
      print('Status: Ok')
    if len(self.course)>3:
      print(f'Status: You have to drop atleast {len(self.course)-3} course.')
    if len(self.course)<3:
      print(f'Status: You have to drop atleast {3-len(self.course)} course.')


s1 = Student('Alice','20103012','CSE')
s2 = Student('Bob', '18301254',"EEE")
s3 = Student("Carol", '17101238','CSE')
print("##########################")
print(s1.details())
print('##########################')
print(s2.details())
print('##########################')
s1.advise('CSE110', 'MAT110','PHY111')
print('##########################')
s2.advise('BUS101', 'MAT120')
print('##########################')
s3.advise('MAT110', 'PHY111', 'ENG102','CSE111', 'CSE230')

In [ ]:
class Hotel:
  def __init__(self,htl_name):
    self.htl_name = htl_name
  
  
  def addStuff(self,st_name,st_age,st_phn='000'):
    self.st_name = st_name
    self.st_age = st_age
    self.st_phn =  st_phn
     
  def getStuffById(self,st_id):
    self.st_id = st_id
    print(f'Staff With ID {self.st_id} is added')
    print(f'Staff ID: {st_id}\nName: {self.st_name}\nAge: {self.st_age}\nPhone no: {self.st_phn}')

  def addGuest(self,gt_name,gt_age,gt_phn):
    self.gt_name = gt_name
    self.gt_age = gt_age
    self.gt_phn = gt_phn

  
  
  def getGuestById(self,gt_id):
    self.gt_id = gt_id
    print(f'Guest With ID {self.gt_id} is created')
    print(f'Guest ID: {gt_id}\nName: {self.gt_name}\nAge: {self.gt_age}\nPhone no: {self.gt_phn}')
  
  def allStaffs(self):
    print(f'All Staffs:\nNumber of Staff{len(self.st_id)}\nStaff ID: {self.st_id} Name: {self.st_name} Age: {self.st_age} Phone no: {self.st_phn}')

  #def allGuest(self):
    #print(f'Number of Guest: {len(self.gt_id)}\nName:')
  


    



h = Hotel("Lakeshore")
h.addStuff( "Adam", 26) #method1
print("=================================")
print(h.getStuffById(1))
print("=================================")
h.addGuest("Carol",35,"123")
print("=================================")
print(h.getGuestById(1))
print("=================================")
h.addGuest("Diana", 32, "431")
print("=================================")
print(h.getGuestById(2))
print("=================================")
h.allStaffs()
print("=================================")
#h.allGuest()

In [ ]:
class Author:
  def __init__(self,name= None):
    self.name= name
    if self.name == None:
      print(f'A book can not be added without author name')
  
  def addBook(self,*args):
    self.gnr1 = list(args[0])
    self.gnr2 = list(args[1])
    lst=[]
    for i in self.gnr1:
      lst.append(i)
  
  def setName(self,name1):
    self.name = name1

  def printDetail(self):
    print(f'Number of Book(s): \nAuthor Name: {self.name}\n{self.gnr1}:{self.gnr2}')


a1 = Author()
print("=================================")
a1.addBook('Ice', 'Science Fiction')
print("=================================")
a1.setName('Anna Kavan')
a1.addBook('Ice', 'Science Fiction')
a1.printDetail()
print("=================================")
a2 = Author('Humayun Ahmed')
a2.addBook('Onnobhubon', 'Science Fiction')
a2.addBook('Megher Upor Bari', 'Horror')
print("=================================")
a2.printDetail()
a2.addBook('Ireena', 'Science Fiction')
print("=================================")
a2.printDetail()
print("=================================")

In [4]:
class tournament:
  def __init__(self,cup,year,venue= None):
    self.cup = cup
    self.year = year
    self.venue = venue
    self.team1_goal= 0
    self.team2_goal = 0

    if venue == None:
     print(f'Welcome to {cup} {year}')
    if venue != None:
      print(f'Welcome to {venue} {cup} {year}')
  def newMatch(self,team1,team2,place= "Maracana stadium"):
    self.team1 = team1
    self.team2 = team2
    self.place = place
    print(f'{team1} facing {team2} at {place}')
  def goal(self,goal):
    #self.goal = goal
    if goal == self.team1:
      self.team1_goal += 1
    elif self.goal == self.team2:
      self.team2_goal +=1
    
  def currentScore(self):
    print(f'{self.team1} {self.team1_goal} - {self.team2_goal} {self.team2}')
  def endMatch(self):
      return f'Final Whistle: {self.team1} {self.team1_goal} - {self.team2_goal} {self.team2}'



worldCup = tournament("World Cup", 2022, "Qatar") 
championsLeague = tournament("UEFA Champions League", 2023)  
print("1=======================================")
worldCup.newMatch("Brazil", "Argentina", "Al Bayt")
print(worldCup.team1)
print(worldCup.team2)
worldCup.goal("Brazil")
worldCup.currentScore()
worldCup.goal("Argentina")
worldCup.currentScore()
print("2=======================================")
worldCup.newMatch("Spain", "France", "Lusail")
worldCup.endMatch()
worldCup.currentScore()
print("3=======================================")
worldCup.newMatch("Spain", "France", "Lusail")
worldCup.goal("France")
print("4=======================================")
championsLeague.newMatch("Bayern Munich", "PSG")
championsLeague.endMatch()
championsLeague.currentScore()
worldCup.endMatch()
worldCup.currentScore()
print("5=======================================")

Welcome to Qatar World Cup 2022
Welcome to UEFA Champions League 2023
1=======================================
Brazil facing Argentina at Al Bayt
Brazil
Argentina
Brazil 1 - 0 Argentina
Brazil 1 - 0 Argentina
2=======================================
Spain facing France at Lusail
Spain 1 - 0 France
3=======================================
Spain facing France at Lusail
4=======================================
Bayern Munich facing PSG at Maracana stadium
Bayern Munich 0 - 0 PSG
Spain 1 - 0 France
5=======================================

Tracing

In [16]:
class Test3:
    def __init__(self):
        self.sum, self.y = 0, 0
    def methodA(self):
        x, y = 2, 3
        msg = [0]
        msg[0] = 3
        y = self.y + msg[0]
        self.methodB(msg, msg[0])
        x = self.y + msg[0]
        self.sum = x + y + msg[0]
        print(x, y, self.sum)
    def methodB(self, mg2, mg1):
        x = 0
        self.y = self.y + mg2[0]
        x = x + 33 + mg1
        self.sum = self.sum + x + self.y
        mg2[0] = self.y + mg1
        mg1 = mg1 + x + 2
        print(x, self.y, self.sum)

t3 = Test3()
t3.methodA()
t3.methodA()
t3.methodA()
t3.methodA()

36 3 39
9 3 18
36 6 60
15 6 30
36 9 75
21 9 42
36 12 90
27 12 54

In [17]:
class Test5:
    def __init__(self):
        self.sum, self.y = 0, 0
    def methodA(self):    
        x = 0
        z = 0
        while (z < 5):
            self.y = self.y + self.sum
            x = self.y + 1
            print(x, self.y, self.sum)
            self.sum = self.sum + self.methodB(x, self.y)
            z += 1
    def methodB(self, m, n):
        x = 0
        sum = 0
        self.y = self.y + m
        x = n - 4
        sum = sum + self.y
        print(x, self.y, sum)
        return self.sum

t5 = Test5()
t5.methodA()

1 0 0
-4 1 1
2 1 0
-3 3 3
4 3 0
-1 7 7
8 7 0
3 15 15
16 15 0
11 31 31

In [18]:
class FinalT6A:
    def __init__(self, x, p):
        self.temp, self.sum, self.y = 4, 0, 1
        self.temp += 1
        self.y = self.temp - p
        self.sum = self.temp + x
        print(x, self.y, self.sum)
    def methodA(self):
        x = 0
        y = 0 
        y = y + self.y
        x = self.y + 2 + self.temp
        self.sum = x + y + self.methodB(self.temp, y)
        print(x, y, self.sum)
    def methodB(self, temp, n):
        x = 0
        temp += 1
        self.y = self.y + temp
        x = x + 3 + n
        self.sum = self.sum + x + self.y
        print(x, self.y, self.sum)
        return self.sum

q1 = FinalT6A(2,1)
q1.methodA()
q1.methodA()

2 4 7
7 10 24
11 4 39
13 16 68
17 10 95

In [19]:
class Test5:
  def __init__(self):
      self.sum = 0
      self.y = 0
  def methodA(self):   
      x=y=k=0
      msg = [5]  
      while (k < 2):
          y += msg[0]     
          x = y + self.methodB(msg, k)
          self.sum = x + y + msg[0]
          print(x ," " , y, " " , self.sum)
          k+=1 
  def methodB(self, mg2, mg1):
        x = 0
        self.y += mg2[0]
        x = x + 3 + mg1
        self.sum += x + self.y
        mg2[0] = self.y + mg1
        mg1 += x + 2
        print(x , " " ,self.y, " " , self.sum)
        return mg1

t1 = Test5()
t1.methodA()
t1.methodA()
t1.methodA()

3   5   8
10   5   20
4   10   34
17   10   38
3   15   56
10   5   30
4   30   64
27   20   78
3   35   116
10   5   50
4   70   124
47   40   158

In [20]:
class Test4:
    def __init__(self):
        self.sum, self.y = 0, 0
    def methodA(self):
        x, y = 0, 0
        msg = [0]
        msg[0] = 5
        y = y + self.methodB(msg[0])
        x = y + self.methodB(msg, msg[0])
        self.sum = x + y + msg[0]
        print(x, y, self.sum)
    def methodB(self, *args):
        if len(args) == 1:
            mg1 = args[0]
            x, y = 0, 0
            y = y + mg1
            x = x + 33 + mg1
            self.sum = self.sum + x + y
            self.y = mg1 + x + 2
            print(x, y, self.sum)
            return y
        else:
            mg2, mg1 = args
            x = 0
            self.y = self.y + mg2[0]
            x = x + 33 + mg1
            self.sum = self.sum + x + self.y
            mg2[0] = self.y + mg1
            mg1 = mg1 + x + 2
            print(x, self.y, self.sum)
            return self.sum

t3 = Test4()
t3.methodA()
t3.methodA()
t3.methodA()
t3.methodA()

38 5 43
38 50 131
136 5 196
38 5 239
38 50 327
332 5 392
38 5 435
38 50 523
528 5 588
38 5 631
38 50 719
724 5 784

In [21]:
class msgClass:
    def __init__(self):
        self.content = 0 
class Q5:
    def __init__(self):
        self.sum = 1
        self.x = 2
        self.y = 3 
    def methodA(self):
        x, y = 1, 1
        msg = []
        myMsg = msgClass()
        myMsg.content = self.x
        msg.append(myMsg)
        msg[0].content = self.y + myMsg.content
        self.y = self.y + self.methodB(msg[0])
        y = self.methodB(msg[0]) + self.y
        x = y + self.methodB(msg[0], msg)
        self.sum = x + y + msg[0].content
        print(x," ", y," ", self.sum)    
    def methodB(self, mg1, mg2 = None):
        if mg2 == None:
            x, y = 5, 6
            y = self.sum + mg1.content
            self.y = y + mg1.content
            x = self.x + 7 +mg1.content
            self.sum = self.sum + x + y
            self.x = mg1.content + x +8
            print(x, " ", y," ", self.sum)
            return y

        else:
            x = 1
            self.y += mg2[0].content
            mg2[0].content = self.y + mg1.content
            x = x + 4 + mg1.content
            self.sum += x + self.y
            mg1.content = self.sum - mg2[0].content
            print(self.x, " ",self.y," ", self.sum)
            return self.sum

q = Q5()
q.methodA()

14   6   21
39   26   86
52   36   168
225   57   409