Problem 1

In [ ]:
class Student:
  stu_id =  0
  def __init__(self,name,dept,age,cgpa):
    self.name = name
    self.dept = dept
    self.age = age
    self.cgpa =  cgpa
    Student.stu_id += 1
    self.id = Student.stu_id

  def showDetails(self):
    print(f'ID: {self.id}\nName: {self.name}\nAge: {self.age}\nCGPA: {self.cgpa}')
  
  @classmethod
  def from_String(cls,info):
    name,dept,age,cgpa = info.split('-')
    return Student(name,dept,age,cgpa)


s1 = Student("Samin", "CSE", 21, 3.91)
s1.showDetails()
print("-----------------------")
s2 = Student("Fahim", "ECE", 21, 3.85)
s2.showDetails()
print("-----------------------")
s3 = Student("Tahura", "EEE", 22, 3.01)
s3.showDetails() 
print("-----------------------")
s4 = Student.from_String("Sumaiya-BBA-23-3.96")
s4.showDetails()

ID: 1
Name: Samin
Age: 21
CGPA: 3.91
-----------------------
ID: 2
Name: Fahim
Age: 21
CGPA: 3.85
-----------------------
ID: 3
Name: Tahura
Age: 22
CGPA: 3.01
-----------------------
ID: 4
Name: Sumaiya
Age: 23
CGPA: 3.96

Problem 2

In [ ]:
class Assassin:
  Total_num = 0
  def __init__(self,name,rate):
    self.name = name
    self.rate = rate
    Assassin.Total_num += 1
  
  def printDetails(self):
    print(f'Name: {self.name}\nSuccess Rate: {self.rate}%\nTotal number of Assassin: {Assassin.Total_num}')

  @classmethod
  def failureRate(cls,name,rate):
    cls.name = name
    cls.failure_rate = 100- rate
    return Assassin(cls.name, cls.failure_rate)
  @classmethod
  def failurePercentage(cls,name,rate):
    cls.name = name
    cls.failure_percentage = 100 - rate
    return Assassin(cls.name, cls.failure_percentage)


john_wick = Assassin('John Wick', 100)
john_wick.printDetails()
print('================================')
nagisa = Assassin.failureRate("Nagisa", 20)
nagisa.printDetails()
print('================================')
akabane = Assassin.failurePercentage("Akabane", 10)
akabane.printDetails()

Name: John Wick
Success Rate: 100%
Total number of Assassin: 1
================================
Name: Nagisa
Success Rate: 80%
Total number of Assassin: 2
================================
Name: Akabane
Success Rate: 90%
Total number of Assassin: 3

Problem 3

In [ ]:
class Passenger:
  count = 0
  def __init__(self,name):
    self.name = name
    Passenger.count +=1
    self.fare = 450

  def set_bag_weight (self,weight):
    self.weight = weight
    if weight <= 20:
      self.fare +=0
    if weight >=50 and weight <= 21:
      self.fare += 50
    if weight > 50:
      self.fare += 100

  def printDetail(self):
    print(f'Name: {self.name}\nBus Fare: {self.fare}')

print('Total Passenger:', Passenger.count)
p1 = Passenger("Jack")
p1.set_bag_weight(90)
p2 = Passenger("Carol")
p2.set_bag_weight(10)
p3 = Passenger("Mike")
p3.set_bag_weight(25)
print("=========================")
p1.printDetail()
print("=========================")
p2.printDetail()
print("=========================")
p3.printDetail()
print("=========================")
print("Total Passenger:", Passenger.count)

Total Passenger: 0
=========================
Name: Jack
Bus Fare: 550
=========================
Name: Carol
Bus Fare: 450
=========================
Name: Mike
Bus Fare: 450
=========================
Total Passenger: 3

Problem 4

In [ ]:
class Travel:
  count = 0
  def __init__(self,src,dns):
    self.src =src
    self.dns = dns
    self.time = 1
    Travel.count += 1
    self.count = Travel.count

  def display_travel_info(self):
    return f'Source : {self.src}\nDestination: {self.dns}\nFlight Time: {self.time:05.2f}'

  def set_time(self,time):
    self.time = time
  def set_source(self,src1):
    self.src = src1
  def set_destination(self,dns1):
    self.dns = dns1
   

print("No. of Traveller =", Travel.count)
print("=======================")
t1 = Travel("Dhaka","India")
print(t1.display_travel_info())
print("=======================")
t2 = Travel("Kuala Lampur","Dhaka")
t2.set_time(23)
print(t2.display_travel_info())
print("=======================")
t3 = Travel("Dhaka","New_Zealand")
t3.set_time(15)
t3.set_destination("Germany")
print(t3.display_travel_info())
print("=======================")
t4 = Travel("Dhaka","India")
t4.set_time(9)
t4.set_source("Malaysia")
t4.set_destination("Canada")
print(t4.display_travel_info())
print("=======================")
print("No. of Traveller =", Travel.count)

No. of Traveller = 0
=======================
Source : Dhaka
Destination: India
Flight Time: 01.00
=======================
Source : Kuala Lampur
Destination: Dhaka
Flight Time: 23.00
=======================
Source : Dhaka
Destination: Germany
Flight Time: 15.00
=======================
Source : Malaysia
Destination: Canada
Flight Time: 09.00
=======================
No. of Traveller = 4

Problem 5

In [ ]:
from datetime import date
class Employee:
  def __init__(self,name,workingPeriod):
    self.name = name
    self.workingPeriod = workingPeriod

  @classmethod
  def employeeByJoiningYear(cls,name,year):
    cls.exp = date.today().year - year 
    return cls(name, cls.exp)

  @staticmethod
  def experienceCheck(workingPeriod, gen):
    if gen == 'male' and workingPeriod <3 :
      return "He is not experienced"
    elif gen == 'female' and workingPeriod <3 :
      return "She is not experienced"
    elif gen == 'male' and workingPeriod >=3 :
      return "He is  experienced"
    elif gen == 'female' and workingPeriod >=3 :
      return "She is experienced"




employee1 = Employee('Dororo', 3)
employee2 = Employee.employeeByJoiningYear('Harry', 2016)
print(employee1.workingPeriod)
print(employee2.workingPeriod)
print(employee1.name)
print(employee2.name)
print(Employee.experienceCheck(2, "male"))
print(Employee.experienceCheck(3, "female"))

3
6
Dororo
Harry
He is not experienced
She is experienced

Problem 6

In [ ]:
class Laptop:
  laptopCount = 0
  def __init__(self,name,count):
    self.name = name
    self.count = count
    Laptop.laptopCount += count

  @staticmethod
  def advantage():
    print('Laptops are portable')

  @classmethod
  def resetCount(cls):
    cls.laptopCount = 0





lenovo = Laptop("Lenovo", 5);
dell = Laptop("Dell", 7);
print(lenovo.name, lenovo.count)
print(dell.name, dell.count)
print("Total number of Laptops", Laptop.laptopCount)
Laptop.advantage()
Laptop.resetCount()
print("Total number of Laptops", Laptop.laptopCount)

Lenovo 5
Dell 7
Total number of Laptops 12
Laptops are portable
Total number of Laptops 0

Problem 7

In [ ]:
class Cat:
  Number_of_cats = 0
  def __init__(self,color,position):
    self.color =color
    self.position = position
    Cat.Number_of_cats +=1
    self.num = Cat.Number_of_cats

  @classmethod
  def no_parameter(cls):
    return cls('White','Sitting')

  @classmethod
  def first_parameter(cls,color):
    return cls(color,'sitting')

  @classmethod
  def second_parameter(cls,position):
    return cls("Grey", position)

  def changeColor(self,color):
    self.color = color

  def printCat(self):
    print(f'{self.color} cat is {self.position}')


print("Total number of cats:", Cat.Number_of_cats)
c1 = Cat.no_parameter()
c2 = Cat.first_parameter("Black")
c3 = Cat("Brown", "jumping")
c4 = Cat("Red", "purring")
c5 = Cat.second_parameter("playing")
print("=======================")
c1.printCat()
c2.printCat()
c3.printCat()
c4.printCat()
c5.printCat()
c1.changeColor("Blue")
c3.changeColor("Purple")
c1.printCat()
c3.printCat()
print("=======================")
print("Total number of cats:", Cat.Number_of_cats)

Total number of cats: 0
=======================
White cat is Sitting
Black cat is sitting
Brown cat is jumping
Red cat is purring
Grey cat is playing
Blue cat is Sitting
Purple cat is jumping
=======================
Total number of cats: 5

Problem 8

In [ ]:
class Cylinder:
  height = 18
  radius = 5
  def __init__(self,radius,height):
    self.height = height
    self.radius = radius
    print(f'Defult radius= {Cylinder.radius} and height = {Cylinder.height}\nUpdated: radius = {self.radius} and height= {self.height}')
    Cylinder.height = self.height
    Cylinder.radius = self.radius

  @staticmethod
  def area (radius,height):
    area = (2*3.1415926535897932384626433832795*Cylinder.radius**2)+(2*3.141592653589793238462643383*Cylinder.radius*Cylinder.height)
    print('Area', area)
  @staticmethod
  def volume(radius,height):
    volume = 3.141592653589793238462643383*Cylinder.height*Cylinder.radius**2
    print('Volume', volume)

  @classmethod
  def swap(cls,height,radius):
    return Cylinder(radius,height)

  @classmethod
  def changeFormat(cls,info):
    list1 = info.split("-")
    return Cylinder(int(list1[0]),int(list1[1]))
    
c1 = Cylinder(0,0)
Cylinder.area(c1.radius,c1.height)
Cylinder.volume(c1.radius,c1.height)
print("===============================")
c2 = Cylinder.swap(8,3)
c2.area(c2.radius,c2.height)
c2.volume(c2.radius,c2.height)
print("===============================")
c3 = Cylinder.changeFormat("7-13")
c3.area(c3.radius,c3.height)
c3.volume(c3.radius,c3.height)
print("===============================")
Cylinder(0.3,5.56).area(Cylinder.radius,Cylinder.height)
print("===============================")
Cylinder(3,5).volume(Cylinder.radius,Cylinder.height)

Defult radius= 5 and height = 18
Updated: radius = 0 and height= 0
Area 0.0
Volume 0.0
===============================
Defult radius= 0 and height = 0
Updated: radius = 3 and height= 8
Area 207.34511513692635
Volume 226.1946710584651
===============================
Defult radius= 3 and height = 8
Updated: radius = 7 and height= 13
Area 879.645943005142
Volume 2001.1945203366984
===============================
Defult radius= 7 and height = 13
Updated: radius = 0.3 and height= 5.56
Area 11.045839770021713
===============================
Defult radius= 0.3 and height = 5.56
Updated: radius = 3 and height= 5
Volume 141.3716694115407

Problem 9

In [ ]:
class Student:
  count1 = 0
  count2 = 0
  count3 = 0
  def __init__(self,name,dept, inst = "BRAC University"):
    self.name = name
    self.dept = dept
    self.inst = inst
    Student.count1 +=1
    if self.inst == "BRAC University":
      Student.count2 +=1
    else:
      Student.count3 +=1
  @classmethod
  def printDetails(cls):
    print(f'Total Student(s): {Student.count1}\nBRAC University Student(s): {Student.count2}\nOther Institution Student(s): {Student.count3}')


  @classmethod
  def createStudent(cls,name,dept,inst='BRAC University'):
    return Student(name,dept,inst)
  
  
  def individualDetail(self):
    print(f'Name: {self.name}\nDepartment: {self.dept}\nInstitution: {self.inst}')


Student.printDetails()
print('#########################')
mikasa = Student('Mikasa Ackerman', "CSE")
mikasa.individualDetail()
print('------------------------------------------')
Student.printDetails()
print('========================')
harry = Student.createStudent('Harry Potter', "Defence Against Dark Arts", "Hogwarts School")
harry.individualDetail()
print('-------------------------------------------')
Student.printDetails()
print('=========================')
levi = Student.createStudent("Levi Ackerman", "CSE")
levi.individualDetail()
print('--------------------------------------------')
Student.printDetails()

Total Student(s): 0
BRAC University Student(s): 0
Other Institution Student(s): 0
#########################
Name: Mikasa Ackerman
Department: CSE
Institution: BRAC University
------------------------------------------
Total Student(s): 1
BRAC University Student(s): 1
Other Institution Student(s): 0
========================
Name: Harry Potter
Department: Defence Against Dark Arts
Institution: Hogwarts School
-------------------------------------------
Total Student(s): 2
BRAC University Student(s): 1
Other Institution Student(s): 1
=========================
Name: Levi Ackerman
Department: CSE
Institution: BRAC University
--------------------------------------------
Total Student(s): 3
BRAC University Student(s): 2
Other Institution Student(s): 1

Problem 10

In [ ]:
class SultansDine:
    t_num=0
    t_price=0
    dict1={}
    
    def __init__(self,name):
        self.place=name
        SultansDine.t_num+=1
        SultansDine.dict1[name]=0
        
    def sellQuantity(self,num):
        sell=0
        if num < 10:
            sell = num * 300
        elif num < 20:
            sell = num * 350
        else:
            sell = num * 400
            
        self.quantity=sell
        SultansDine.t_price+=sell
        SultansDine.dict1[self.place]=sell
        
    def branchInformation(self):
        print('Branch Name:',self.place)
        print('Branch Sell:',self.quantity,'Taka')

        
    @classmethod
    def details(cls):
        print('Total Number of branch(s):',SultansDine.t_num)
        print('Total Sell:',SultansDine.t_price)
        if len(SultansDine.dict1)!=0:
            for i in SultansDine.dict1:
                print(f'Branch Name: {i}, Branch sell: {SultansDine.dict1[i]}')
                perc=(SultansDine.dict1[i]/SultansDine.t_price)*100
                print(f"Branch consists of total sell's: {perc:05.2f}%")
        
SultansDine.details()
print('########################')
dhanmodi = SultansDine('Dhanmondi')
dhanmodi.sellQuantity(25)
dhanmodi.branchInformation()
print('-----------------------------------------')
SultansDine.details()
print('========================')
baily_road = SultansDine('Baily Road')
baily_road.sellQuantity(15)
baily_road.branchInformation()
print('-----------------------------------------')
SultansDine.details()
print('========================')
gulshan = SultansDine('Gulshan')
gulshan.sellQuantity(9)
gulshan.branchInformation()
print('-----------------------------------------')
SultansDine.details()

Total Number of branch(s): 0
Total Sell: 0
########################
Branch Name: Dhanmondi
Branch Sell: 10000 Taka
-----------------------------------------
Total Number of branch(s): 1
Total Sell: 10000
Branch Name: Dhanmondi, Branch sell: 10000
Branch consists of total sell's: 100.00%
========================
Branch Name: Baily Road
Branch Sell: 5250 Taka
-----------------------------------------
Total Number of branch(s): 2
Total Sell: 15250
Branch Name: Dhanmondi, Branch sell: 10000
Branch consists of total sell's: 65.57%
Branch Name: Baily Road, Branch sell: 5250
Branch consists of total sell's: 34.43%
========================
Branch Name: Gulshan
Branch Sell: 2700 Taka
-----------------------------------------
Total Number of branch(s): 3
Total Sell: 17950
Branch Name: Dhanmondi, Branch sell: 10000
Branch consists of total sell's: 55.71%
Branch Name: Baily Road, Branch sell: 5250
Branch consists of total sell's: 29.25%
Branch Name: Gulshan, Branch sell: 2700
Branch consists of total sell's: 15.04%